body {
  font-family: 'Roboto', sans-serif;
  margin-left: 100px;
  margin-right: 50px;
}

h1 {
  font-size: 50px;
  letter-spacing: 2px;
}

h2 {
    margin-left: 25px;
    font-size: 20px;
  letter-spacing: .5px;
}

h2 a {
  margin-left: 50px;
  color: #95a5a6;
  width: 20px;
}
a:not(:hover) {
  text-decoration: none;
}

.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}

.bullet {
  margin-left: 100px;
}

p {
  margin-left: 100px;
}

div.header {
  display: inline-block;
}
table{
  table-layout: fixed;
}
td{
  font-family: Menlo;
  width:300px;
  font-size: 13px;
  padding:10px;
  vertical-align: top;
}
code {
  font-size: 15px;
  font-style: italic;
}
.demo {
  font-family: Menlo;
  font-size: 13px;
  margin-left: 75px;
  border-left: 2px solid #7f8c8d;
  padding-left: 25px;
  line-height: 1.5;
}
.inst {
  font-family: Menlo;
  font-size: 13px;
  margin-left: 75px;
  border-left: 2px solid #f39c12;
  padding-left: 25px;
  line-height: 1.5;
}
.and {
  margin-left: 200px;
}
.same {
  font-family: Menlo;
  font-size: 13px;
  margin-left: 100px;
  border-left: 2px solid #2ecc71;
  padding-left: 15px;
}
